body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
button {
  font-size: 8pt;
}
#result {
  font-size: 50pt;
  width: 100%;
  float: left;
}
#drawnBox {
  width: 100%;
}
#btnChoose {
  font-size: 150%;
}
div.drawn span {
  margin-right: 20px;
}
div.drawn .name {
  font-size: 120%;
}
div.selected {
  font-size: 150%;
  font-weight: bold;
}
.bgWhite {
  background: #fffe;
}
.grade {
  font-size: 140%;
  font-weight: bolder;
  margin: 0px 5px;
}
